.heading-primary {
    font-size: 4rem;
    text-align: center;
    margin-top: 5rem;
}

.heading-secondary {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: $color-secondary-dark;
    padding: 2rem;
    text-transform: uppercase;

    @media (max-width: 370px) {
        font-size: 2.5rem;
    }
}

.price {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: $color-price;
    padding: 2rem;

    @media (max-width: 370px) {
        font-size: 2.5rem;
    }
}

.label {
    font-size: 1.8rem;
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

