$color-primary: rgb(255, 175, 25);
$color-primary-dark: darkorange;

$color-secondary-light: rgb(223, 148, 223);
$color-secondary: rgb(202, 64, 202);
$color-secondary-dark: darkviolet;

$color-headings: white;
$color-buttons: white;
$color-price: orangered;
$color-font: rgb(34, 34, 34);
$color-backdrop: rgb(34, 34, 34);