.burger {
    width: 92%;
    margin: auto;
    height: 25rem;
    //overflow: scroll;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;

    @include respond(phone-portrait) {
        width: 35rem;
        height: 75vh;
    }

    @include respond(phone) {
        width: 45rem;
        height: 95vh;
    }

    @include respond(tablet) {
        width: 70rem;
        height: 85vh;
    }
}