.build-control-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.order-summary-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.side-drawer__logo__wrapper {
    height: 11%;
    margin-bottom: 3rem;
}

.toolbar__logo__wrapper {
    height: 80%;
}

@include respond(phone) {
    .nav__desktop-only__wrapper {
        display: none;
    }
}
