@mixin Seeds {
    position: absolute;
    background-color: white;
    border-radius: 40%;
    box-shadow: inset -1px 2px #c9c9c9;
}

@mixin SeedsAfterBefore {
    content: "";
    width: 100%;
    height: 100%;
    @include Seeds;
}

$margin-ingredients: 2% auto;

.bread {
    width: 80%;
    box-shadow: inset -15px 0 #c15711;
    margin: $margin-ingredients;

    &__bottom {
        height: 13%;
        background: linear-gradient(#F08E4A, #e27b36);
        border-radius: 0 0 30px 30px;
    }

    &__top {
        height: 20%;
        background: linear-gradient(#bc581e, #e27b36);
        border-radius: 50% 50% 0 0;
        position: relative;
    }
}

.seeds {
    width: 10%;
    height: 15%;
    @include Seeds;
    
}
.seeds1 {
    left: 30%;
    top: 50%;
    transform: rotate(-20deg);

    &::after {
        @include SeedsAfterBefore;
        left: -170%;
        top: -260%;
        transform: rotate(60deg);
    }

    &::before {
        @include SeedsAfterBefore;
        left: 180%;
        top: -50%;
        transform: rotate(60deg);
    }
}

.seeds2 {
    left: 64%;
    top: 50%;
    transform: rotate(10deg);

    &::before {
        @include SeedsAfterBefore;
        left: 150%;
        top: -130%;
        transform: rotate(90deg);
    }
}

.meat {
    width: 92%;
    height: 8%;
    background: linear-gradient(#7f3608, #702e05);
    margin: $margin-ingredients;
    border-radius: 15px;
}

.cheese {
    width: 106%;
    height: 4.5%;
    margin: $margin-ingredients;
    background: linear-gradient(#f4d004, #d6bb22);
    border-radius: 20px;
    position: relative;
    left: -3%;
}

.salad {
    width: 100%;
    height: 7%;
    margin: $margin-ingredients;
    background: linear-gradient(#228c1d, #91ce50);
    border-radius: 20px;
}

.bacon {
    width: 92%;
    height: 3%;
    background: linear-gradient(#bf3813, #c45e38);
    margin: $margin-ingredients;
}

