.authentication {
    // margin: 10rem auto;
    padding: 3rem 2rem;
    border-radius: 5px;
    box-shadow: 3px 4px rgba(#ddd,.8);
    border: 1px solid #ddd;
    width: 80%;
    text-align: center;
    position: fixed;
    top: 10%;
    left: 10%;
    background-color: white;
    transition: all .5 ease-out;
}

@media (min-width: 60rem) {
    .authentication {
        width: 50rem;
    }
}