.contactData {
    margin: 2rem auto;
    padding: 3rem 2rem;
    border-radius: 5px;
    box-shadow: 3px 4px rgba(#ddd,.8);
    width: 80%;
    text-align: center;
    position: relative;
    background-color: $color-primary;
}

@media (min-width: 60rem) {
    .contactData {
        width: 50rem;
    }
}

.Form {
    padding: 2rem;
}

.Form input{
    display: block;
    margin: 1rem;
    padding: .8rem;
    width: 100%;

    &:last-of-type {
        border-bottom: 1rem;
    }
}