.ul-ingredients {
    padding: 3rem;
    padding-bottom: 1rem;
}

.li-ingredient {
    color: $color-secondary-dark;
    padding: 1rem;
    background-color: $color-headings;
    list-style: none;
    border: 1px solid $color-secondary-dark;
    border-radius: 3px;
    margin-bottom: 0.4rem;
    font-weight: bold;
}
